.formInput {
    background: #f8f9fa;
    padding: 5%;
    margin: 2%;
}
.btn-submit {
    background: #9C27B0;
    color: #ffffff;
}

.footer {
    background: #9C27B0;
    color: #ffffff;
    margin: 2%;
    padding: 3%;
    text-align: center;
    font-size: 25px;
}

.select {
    margin-right: 10px;
    width: 150px;
}

.modal {
    top:auto;
    bottom:10%;
}

.modal-xl {
    width: 51%;
    max-width:1200px;
}

.modal-inner {
    background: #9C27B0;
    color: #ffffff;
    margin: 5%;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.tooltip-inner {background-color: #f00;}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #f00;
}

.bs-tooltip-right .arrow::before {
    right: 0;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #f00;
}
